<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evaluation_type.name %>
</p>

<%= link_to 'Edit', edit_evaluation_type_path(@evaluation_type) %> |
<%= link_to 'Back', evaluation_types_path %>
