<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Mi cuenta</a></li>
    <li role="presentation"><a href="#requested_tasks" aria-controls="requested_tasks" role="tab" data-toggle="tab">Tareas asignadas por mi</a></li>
    <li role="presentation"><a href="#own_tasks" aria-controls="own_tasks" role="tab" data-toggle="tab">Tareas asignadas a mi</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="account"></div>

    <div role="tabpanel" class="tab-pane" id="requested_tasks">      
      <%= grid(@requested_tasks) do |g|
          g.column name: 'Título', attribute: 'title'
          g.column  name: 'Descripción', attribute: 'description', filter: false, ordering: false
          g.column name: 'Prioridad', attribute: 'priority'
          g.column name: 'Estado', attribute: 'state'
          g.column name: 'Responsable', attribute: 'owner_id'
          g.column name: 'Tarea padre', attribute: 'parent_id'
          g.column name: 'Fecha Límite', attribute: 'end_date'
        end -%>
      <%= link_to 'Asignar tarea', dashboard_request_task_path, :class => 'btn btn-primary' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="own_tasks"></div>
  </div>

</div>