<%- model_class = Career -%>
<div class="page-header">
  <h1>Carreras</h1>
</div>

<%= grid(@careers) do |g|

  g.column name: model_class.human_attribute_name(:short_name), attribute: 'short_name'
  g.column name: model_class.human_attribute_name(:full_name), attribute: 'full_name'
  g.column name: model_class.human_attribute_name(:faculty_id), attribute: 'faculty_id', custom_filter: Faculty.all.collect{|c| [c.name, c.id]}, allow_multiple_selection: false, auto_reload: true do |career|
    career.faculty.name
  end
  g.column name: model_class.human_attribute_name(:study_modality), attribute: 'study_modality_id', custom_filter: StudyModality.all.collect{|c| [c.full_name, c.id]}, allow_multiple_selection: false, auto_reload: true do |career|
    career.study_modality.full_name
  end
  g.column name: model_class.human_attribute_name(:headquarters), attribute: 'headquarters' do |career|
    career.headquarters ? 'si' : 'no'
  end
  g.column name: model_class.human_attribute_name(:universities) do |career|
    career.universities.count
  end

  g.column do |career|
    link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_career_path(career), :class => 'btn btn-mini'
  end

  g.column do |career|
    link_to t('.destroy', :default => t("helpers.links.destroy")),
                        career_path(career),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger'
  end

end %>

<% if can? :create, Career %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_career_path,
              :class => 'btn btn-primary' %>
<% end %>