<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Olga Perez Soto', photo: 'adrian.png', items: ['Alumnos Ayudantes', 'Plan de Trabajo Metodológico', 'Medios Básicos', 'Ubicación Laboral', 'APA', 'Carta de Disponibilidad'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'Rita Roldan', photo: 'ivan.png', items: ['Proceso de Acreditación', 'Gestión del Plan de Estudio', 'Procesamiento de Encuestas',' Intranet DDM', 'SIGENU (Asesoramiento)', 'Indicadores de Promoción'] %>
  </div>
  
</div>