<h1>Audit</h1>

<%= grid(@audits) do |g|

  g.column attribute: 'item_type'

  g.column attribute: 'item_id' do |audit|
    item = audit.item_type.constantize.find(audit.item_id)
    link_to item.name, audits_show_path(item_type: audit.item_type, item_id: audit.item_id)
  end

  g.column attribute: 'event'

  g.column attribute: 'whodunnit' do |audit|
    User.find(audit.whodunnit).username
  end

  g.column attribute: 'object'
end -%>