<h1>Audit</h1>

<%= grid(@audits) do |g|

  g.column attribute: 'item_type'

  g.column attribute: 'item_id' do |audit|
    audit.item_type.constantize.find(audit.item_id).name
  end

  g.column attribute: 'event'

  g.column attribute: 'whodunnit' do |audit|
    User.find(audit.whodunnit).username
  end

  g.column attribute: 'object'
end -%>