<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curriculum_type.name %>
</p>

<%= link_to 'Edit', edit_curriculum_type_path(@curriculum_type) %> |
<%= link_to 'Back', curriculum_types_path %>
