<%- model_class = Subject -%>
<div class="page-header">
  <h1>Asignaturas</h1>
</div>

<%= render 'subjects/list' %>

<%= paginate @subjects %>

</br>

<% if can? :create, Subject %>
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_subject_path,
	            :class => 'btn btn-primary' %>
<% end %>
