// Place all the styles related to the ppd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.ppd tr.curriculum-type td{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

table.ppd tr.discipline td{
  font-weight: bold;
  background-color: #808080;
  text-transform: uppercase;
}

table.ppd tr.total td{
  font-weight: bold;
  background-color: #808080;
  text-transform: uppercase;
}

table.ppd thead{
  background-color: #808080;
}