// Place all the styles related to the ppd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.curriculum-type td{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

tr.discipline td{
  font-weight: bold;
  background-color: #808080;
  text-transform: uppercase;
}

thead{
  background-color: #808080;
}