<p><%= t('devise.mailer.reset_password_instructions.hello', email: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.someone_has_requested_a_link_to_change_your_password') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>En caso que su navegador no le muestre el enlace, copie la URL siguiente y péguela en su navegador.</p>
<p><%= edit_password_url(@resource, confirmation_token: @token) %></p>

<p>Si usted no lo pidió, por favor ignore este email.</p>
<p>Su contraseña no cambiará hasta que acceda a el link anterior y cree una nueva.</p>

<p>Antentamente, el equipo de la DDM</p>